@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Roboto', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-link {
  text-decoration: none;
  color: inherit;
}
